<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

   <head>
      <title>{% block title %}Pac-12 Football Challenge{% endblock %}</title>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
      <!--
      <script src="https://fb.me/react-0.13.3.js"></script>
      <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
      -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   </head>

   <body>
      <div class="pure-menu pure-menu-horizontal pure-menu-fixed">
         <a class="pure-menu-heading" href="/">College Football Challenge</a>
         <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/results/" class="pure-menu-link">Results</a></li>
            <li class="pure-menu-item"><a href="/myPicks/" class="pure-menu-link">My Picks</a></li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
               {% if request.user.is_authenticated %}
                  <a href="#" class="pure-menu-link">{{ user }}</a>
                  <ul class="pure-menu-children">
                     <li class="pure-menu-item">
                        <a class="pure-menu-link" href="/accounts/settings">
                           <i class="fa fa-cog fa-fw"></i>Settings
                        </a>
                     </li>
                     <li class="pure-menu-item">
                        <a class="pure-menu-link" href="/accounts/logout">
                           <i class="fa fa-sign-out fa-fw"></i>Sign Out
                        </a>
                     </li>
                  </ul>
               {% else %}
                  <a href="#" class="pure-menu-link">Sign In</a>
                  <ul class="pure-menu-children">
                     <li class="pure-menu-item">
                        <a class="pure-menu-link" href="{% url "social:begin" "google-oauth2" %}" >
                           <i class="fa fa-google fa-fw"></i>Google
                        </a>
                     </li>
                     <li class="pure-menu-item">
                        <a class="pure-menu-link" href="{% url "social:begin" "facebook" %}" >
                           <i class="fa fa-facebook fa-fw"></i>Facebook
                        </a>
                     </li>
                     <li class="pure-menu-item">
                        <a class="pure-menu-link" href="/accounts/login">
                           <i class="fa fa-at fa-fw"></i>Email
                        </a>
                     </li>
                  </ul>
               {% endif %}
            </li>
         </ul>
      </div>
      <div id="content" style="padding-top: 35px;">
         {% block content %}{% endblock %}
      </div>
   </body>
</html>
