{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Results" %}{% endblock %}
{% block content %}
   <h1>Week {{ week }}</h1>  
   <table class="pure-table">
      <thead>
	 <th>Name</th>
	 <th colspan="2">Quarterbacks</th>
	 <th colspan="2">Runningbacks</th>
	 <th colspan="2">Wide Receivers</th>
	 <th>Team Defense</th>
	 <th>Place Kicker</th>
	 <th>Score</th>
      </thead>
      <tbody>
	 {% for line in data|dictsortreversed:"score" %}
	    <tr>
	       <td>{{ line.name }}</td>
	       {% for player in line.picks %}
		  {% if player or score == 0 %}
		     <td><img src="/static/{{ player.school }}.png/">{{ player.name }} {{ player.score }}</td>
		  {% else %}
		     <td>-</td>
		  {% endif %}
	       {% endfor %}
	       <td>{{ line.score }}</td>
	    </tr>
	 {% endfor %}
      <tbody>
   </table>
   <a class="pure-button" href="{% url "week1_index" %}">
      <i class="fa fa-long-arrow-left"></i>Back 
   </a>
{% endblock %}
