{% extends "base.html" %}

{% block content %}
   <div id="login-success" class="pure-alert pure-alert-success" onclick="hideAlert()">
      <div id="alert-message">
         Login Successful
      </div>
      <div id="alert-icon">
         <icon class="fa fa-times"/>
      </div>
   </div>
   <table class="pure-table pure-table-bordered">
      <thead>
         <th>Name</th>
         {% with data|first as firstuser %}
            {% for score in firstuser.scores %}
		  {% if forloop.counter <= week %}
                     {% comment %}
		     <th> <a href="{% url 'results' forloop.counter0 %}">{{ forloop.counter0 }}</a>
                     {% endcomment %}
                     <th class="clickable" onclick="location.href='/results/{{ forloop.counter }}'">
                        {{ forloop.counter }}
                     </th>
		  {% else %}
		     <th class="indepth-disabled"> {{ forloop.counter }}
		  {% endif %}
	       </th>
            {% endfor %}
         {% endwith %}
         <th>Total</th>
      </thead>
      <tbody>
         {% for user in data|dictsortreversed:"total" %} 
            <tr>
            <td>{{ user.name }}</td>
            {% for score in user.scores %}
               <td>
               {% if score or score == 0 %}
                  {{ score }}
               {% else %}
                  -
               {% endif %}
	       </td>
            {% endfor %}
            <td>{{ user.total }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
{% endblock %}
