{% extends "base.html" %}

{% block content %}
   <div id="login-success" class="pure-alert pure-alert-success">Login Successful</div>
   <table class="pure-table">
      <thead>
         <th>Name</th>
         {% with data|first as firstuser %}
            {% for score in firstuser.scores %}
		  {% if forloop.counter > 3 %}
		     <th> <a href="{% url 'inDepth' forloop.counter %}">{{ forloop.counter }}</a>
		  {% else %}
		     <th class="indepth-disabled"> {{ forloop.counter }}
		  {% endif %}
	       </th>
            {% endfor %}
         {% endwith %}
         <th>Total</th>
      </thead>
      <tbody>
         {% for user in data|dictsortreversed:"total" %} 
            <tr>
            <td>{{ user.name }}</td>
            {% for score in user.scores %}
	       {% if forloop.counter < 4 %}
		  <td class="indepth-disabled">	  
	       {% else %}
		  <td>
	       {% endif %}	     
               {% if score or score == 0 %}
                  {{ score }}
               {% else %}
                  -
               {% endif %}
	       </td>
            {% endfor %}
            <td>{{ user.total }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
   {% comment %}
   <p>{{ data }}</p>
   {% endcomment %}
{% endblock %}
