{% extends "base.html" %}

{% block content %}
   <table class="pure-table">
      <thead>
         <th>Name</th>
         {% with data|first as firstuser %}
            {% for score in firstuser.scores %}
               <th><a href="{% url 'inDepth' forloop.counter %}">{{ forloop.counter }}</a></th>
            {% endfor %}
         {% endwith %}
         <th>Total</th>
      </thead>
      <tbody>
         {% for user in data|dictsortreversed:"total" %} 
            <tr>
            <td>{{ user.name }}</td>
            {% for score in user.scores %}
               {% if score or score == 0 %}
                  <td>{{ score }}</td>
               {% else %}
                  <td>-</td>
               {% endif %}
            {% endfor %}
            <td>{{ user.total }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
   {% comment %}
   <p>{{ data }}</p>
   {% endcomment %}
{% endblock %}
