{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="success" class="pure-alert pure-alert-success">Picks Saved!</div>
<div class="pure-g">
   <div id="pick-window" class="pure-u-1-5">
      <h2>Picks</h2>
      <form class="pure-form">
         {% csrf_token %}
         <table class="pure-table">
            <tbody id="pick-table">
               <tr>
                  <td>QB</td>
                  <td>
                     {% if picks.QB1 %}
                        <img src="/static/{{ picks.QB1.team }}.png/">{{ picks.QB1 }}
                     {% else %}
                        None
                     {% endif %}
                  </td>
               </tr>
               <tr>
                  <td>QB</td>
                  <td>
                     {% if picks.QB2 %}
                        <img src="/static/{{ picks.QB2.team }}.png/">{{ picks.QB2 }}
                     {% else %}
                        None
                     {% endif %}
                  </td>
               </tr>
               <tr>
                  <td>RB</td>
                  <td>
                     {% if picks.RB1 %}
                        <img src="/static/{{ picks.RB1.team }}.png/">{{ picks.RB1 }}
                     {% else %}
                        None
                     {% endif %}
                  </td>
               </tr>
               <tr>
                  <td>RB</td>
                  <td>
                     {% if picks.RB2 %}
                        <img src="/static/{{ picks.RB2.team }}.png/">{{ picks.RB2 }}
                     {% else %}
                        None
                     {% endif %}
                  </td>
               </tr>
               <tr>
                  <td>WR</td>
                  <td>
                     {% if picks.WR1 %}
                        <img src="/static/{{ picks.WR1.team }}.png/">{{ picks.WR1 }}
                     {% else %}
                        None
                     {% endif %}
                  </td>
               </tr>
               <tr>
                  <td>WR</td>
                  <td>
                     {% if picks.WR2 %}
                        <img src="/static/{{ picks.WR2.team }}.png/">{{ picks.WR2 }}
                     {% else %}
                        None
                     {% endif %}
                  </td>
               </tr>
               <tr>
                  <td>TD</td>
                  <td>
                     {% if picks.TD %}
                        <img src="/static/{{ picks.TD }}.png/">{{ picks.TD }}
                     {% else %}
                        None
                     {% endif %}
                  </td>
               </tr>
               <tr>
                  <td>TK</td>
                  <td>
                     {% if picks.TK %}
                        <img src="/static/{{ picks.TK }}.png/">{{ picks.TK }}
                     {% else %}
                        None
                     {% endif %}
                  </td>
               </tr>
               <input type="hidden" name="QB1" />
               <input type="hidden" name="QB2" />
               <input type="hidden" name="RB1" />
               <input type="hidden" name="RB2" />
               <input type="hidden" name="WR1" />
               <input type="hidden" name="WR2" />
               <input type="hidden" name="TD" />
               <input type="hidden" name="TK" />
            </tbody>
         </table>
         <button type="submit" class="pure-button pure-button-primary" formmethod='POST'>Save</button>
      </form>
   </div>

   <div id="player-select" class="pure-u-4-5">
      <h2>Players</h2>
      <div class="pure-menu pure-menu-horizontal">
         <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected" onclick="selectPos( this, 'qb' )">
	       <a href="#" class="pure-menu-link">
		  Quarterbacks
	       </a>
	    </li>   
            <li class="pure-menu-item" onclick="selectPos( this, 'rb' )">
	       <a href="#" class="pure-menu-link">
		  Running Backs
	       </a>
	    </li>   
            <li class="pure-menu-item" onclick="selectPos( this, 'wr' )">
	       <a href="#" class="pure-menu-link">
		  Wide Receivers
	       </a>
	    </li>   
            <li class="pure-menu-item" onclick="selectPos( this, 'td' )">
	       <a href="#" class="pure-menu-link">
		  Team Defense
	       </a>
	    </li>   
            <li class="pure-menu-item" onclick="selectPos( this, 'tk' )">
	       <a href="#" class="pure-menu-link">
		  Team Kicking
	       </a>
	    </li>   
         </ul>
      </div>
      {% cycle 'qb' 'rb' 'wr' 'pk' as pos silent %}
      {% for i in 'xxxx' %}
      <table id="{{ pos }}" class="pure-table player-list" > 
	 <thead>
	    <tr>
	       <td></td>
	       <td>Player</td>
	       <td>Opp</td>
	       <td>Points</td>
	       <td>Avg</td>
	       {% if pos == 'qb' %}
		  <td>C/A</td>
		  <td>Passing Yards</td>
		  <td>Passing TD</td>
		  <td>Int</td>
		  <td>Yards</td>
		  <td>TD</td>
	       {% elif pos == 'pk' %}
                  <td>FG</td>
                  <td>PAT</td>
               {% else %}
		  <td>receptions</td>
		  <td>carries</td>
		  <td>yards</td>
		  <td>TD</td>
	       {% endif %}
	    </tr>
	 <thead>
	 <tbody>
	    {% for k, v in posi.iteritems %}
	       {% if k == pos %}
		  {% for name, player in v.iteritems %}
		     <tr id="{{ player.id }}">
			<td>
			   <button onclick="addPlayer( '{{ pos }}', '{{ name }}', '{{ player.id }}' )">
			      <i class="fa fa-plus" ></i>
			   </div>
			</td>
			<td>
			   <img src="/static/{{ player.team }}.png/"> 
			   {{ name }} </td>
			<td> {{ player.opp }} </td>
			{% if player.total %}
			   <td> {{ player.total }} </td>
			{% else %}
			   <td> 0 </td>
			{% endif %}
			{% if player.avg %}
			   <td> {{ player.avg }} </td>
			{% else %}
			   <td> 0 </td>
			{% endif %}
			{% if pos == 'qb' %}
			   {% if player.stats %}
			      <td> {{ player.stats.ca }} </td>
			      <td> {{ player.stats.passingYards }} </td>
			      <td> {{ player.stats.passingTD }} </td>
			      <td> {{ player.stats.thrownInterceptions }} </td>
			      <td> {{ player.stats.yards }} </td>
			      <td> {{ player.stats.TD }} </td>
			   {% else %}
			      {% for i in 'xxxxxx' %}
				 {% if forloop.counter0 == 0 %}
				    <td> 0 / 0 </td>
				 {% else %}
				    <td> 0 </td>
				 {% endif %}
			      {% endfor %}
			   {% endif %}
                        {% elif pos == 'pk' %}
                           {% if player.stats %}
                              <td> {{ player.stats.FG }} </td>
                              <td> {{ player.stats.PAT }} </td>
                           {% else %}
                              {% for i in 'xx' %}
                                 <td> 0 </td>
                              {% endfor %}
                           {% endif %}
			{% else %}
			   {% if player.stats %}
			      <td> {{ player.stats.receptions }} </td>
			      <td> {{ player.stats.carries }} </td>
			      <td> {{ player.stats.yards }} </td>
			      <td> {{ player.stats.TD }} </td>
			   {% else %}
			      {% for i in 'xxxx' %}
				 <td> 0 </td>
			      {% endfor %}
			   {% endif %}
			{% endif %}
		     </tr>
		  {% endfor %}
	       {% endif %}
	    {% endfor %}
	 </tbody>
      </table>
      {% cycle pos %}
      {% endfor %}
   </div>
</div>
{% endblock %}
