{% extends "base.html" %}
{% load i18n %}

{% block content %}
<script type="text/javascript">
   window.onload = function() {
      showTable( 'qb' )
      {% for pick in picks %}
      addPlayer( '{{ pick.position|lower }}', '{{ pick.name }}', '{{ pick.espnId }}' );
      {% endfor %}
   }
</script>
<div id="success" class="pure-alert pure-alert-success" onclick="hideAlert()">
   <div id="alert-message">
      Picks Saved!
   </div>
   <div id="alert-icon">
      <icon class="fa fa-times"/>
   </div>
</div>
<div id="error" class="pure-alert pure-alert-error" onclick="hideAlert()">
   <div id="alert-message">
      Error submitting picks
   </div>
   <div id="alert-icon">
      <icon class="fa fa-times"/>
   </div>
</div>
<div class="pure-g">
   <div id="pick-window" class="pure-u-1-5">
      <h2>Picks</h2>
      <form class="pure-form">
         {% csrf_token %}
         <table class="pure-table">
            <tbody id="pick-table">
               <tr>
                  <td>QB</td>
                  <td>
                     None
                  </td>
               </tr>
               <tr>
                  <td>QB</td>
                  <td>
                     None
                  </td>
               </tr>
               <tr>
                  <td>RB</td>
                  <td>
                     None
                  </td>
               </tr>
               <tr>
                  <td>RB</td>
                  <td>
                     None
                  </td>
               </tr>
               <tr>
                  <td>WR</td>
                  <td>
                     None
                  </td>
               </tr>
               <tr>
                  <td>WR</td>
                  <td>
                     None
                  </td>
               </tr>
               <tr>
                  <td>TD</td>
                  <td>
                     None
                  </td>
               </tr>
               <tr>
                  <td>PK</td>
                  <td>
                     None
                  </td>
               </tr>
               <input type="hidden" name="QB1" position='qb' />
               <input type="hidden" name="QB2" position='qb' />
               <input type="hidden" name="RB1" position='rb' />
               <input type="hidden" name="RB2" position='rb' />
               <input type="hidden" name="WR1" position='wr' />
               <input type="hidden" name="WR2" position='wr' />
               <input type="hidden" name="TD"  position='td' />
               <input type="hidden" name="PK"  position='pk' />
            </tbody>
         </table>
         <button type="submit" class="pure-button pure-button-primary" formmethod='POST'>Save</button>
      </form>
   </div>

   <div id="player-select" class="pure-u-4-5">
      <h2>Players</h2>
      <div class="pure-menu pure-menu-horizontal">
         <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected" onclick="selectPos( this, 'qb' )">
	       <a href="#" class="pure-menu-link">
		  Quarterbacks
	       </a>
	    </li>   
            <li class="pure-menu-item" onclick="selectPos( this, 'rb' )">
	       <a href="#" class="pure-menu-link">
		  Running Backs
	       </a>
	    </li>   
            <li class="pure-menu-item" onclick="selectPos( this, 'wr' )">
	       <a href="#" class="pure-menu-link">
		  Wide Receivers
	       </a>
	    </li>   
            <li class="pure-menu-item" onclick="selectPos( this, 'td' )">
	       <a href="#" class="pure-menu-link">
		  Team Defense
	       </a>
	    </li>   
            <li class="pure-menu-item" onclick="selectPos( this, 'pk' )">
	       <a href="#" class="pure-menu-link">
		  Place Kickers
	       </a>
	    </li>   
         </ul>
      </div>
      {% cycle 'qb' 'rb' 'wr' 'td' 'pk' as pos silent %}
      {% for i in 'xxxxx' %}
      <table id="{{ pos }}" class="pure-table player-list" > 
	 <thead>
	    <tr>
	       <td></td>
	       <td>Player</td>
	       <td>Opp</td>
	       <td>Points</td>
	       <td>Avg</td>
	       {% if pos == 'qb' %}
		  <td>C/A</td>
		  <td>Passing Yards</td>
		  <td>Passing TD</td>
		  <td>Int</td>
		  <td>Yards</td>
		  <td>TD</td>
	       {% elif pos == 'pk' %}
                  <td>FG</td>
                  <td>PAT</td>
               {% elif pos == 'td' %}
                  <td>Kickoff TD</td>
                  <td>Punt TD</td>
                  <td>Interception TD</td>
                  <td>Interceptions</td>
               {% else %}
		  <td>receptions</td>
		  <td>carries</td>
		  <td>yards</td>
		  <td>TD</td>
	       {% endif %}
	    </tr>
	 </thead>
	 <tbody>
	    {% for k, v in posi.iteritems %}
	       {% if k == pos %}
		  {% for name, player in v.iteritems %}
		     <tr id="{{ player.id }}">
			<td>
			   <button class="pure-button" onclick="addPlayer( '{{ pos }}', '{{ name }}', '{{ player.id }}' )">
			      <i class="fa fa-plus" ></i>
			   </div>
			</td>
			<td>
			   <img src="/static/{{ player.team }}.png/"> 
			   {{ name }} </td>
			<td> {{ player.opp }} </td>
			{% if player.total %}
			   <td> {{ player.total }} </td>
			{% else %}
			   <td> 0 </td>
			{% endif %}
			{% if player.avg %}
			   <td> {{ player.avg }} </td>
			{% else %}
			   <td> 0 </td>
			{% endif %}
			{% if pos == 'qb' %}
			   {% if player.stats %}
			      <td> {{ player.stats.ca }} </td>
			      <td> {{ player.stats.passingYards }} </td>
			      <td> {{ player.stats.passingTD }} </td>
			      <td> {{ player.stats.thrownInterceptions }} </td>
			      <td> {{ player.stats.yards }} </td>
			      <td> {{ player.stats.TD }} </td>
			   {% else %}
			      {% for i in 'xxxxxx' %}
				 {% if forloop.counter0 == 0 %}
				    <td> 0 / 0 </td>
				 {% else %}
				    <td> 0 </td>
				 {% endif %}
			      {% endfor %}
			   {% endif %}
                        {% elif pos == 'pk' %}
                           {% if player.stats %}
                              <td> {{ player.stats.FG }} </td>
                              <td> {{ player.stats.PAT }} </td>
                           {% else %}
                              {% for i in 'xx' %}
                                 <td> 0 </td>
                              {% endfor %}
                           {% endif %}
			{% else %}
			   {% if player.stats %}
			      <td> {{ player.stats.receptions }} </td>
			      <td> {{ player.stats.carries }} </td>
			      <td> {{ player.stats.yards }} </td>
			      <td> {{ player.stats.TD }} </td>
			   {% else %}
			      {% for i in 'xxxx' %}
				 <td> 0 </td>
			      {% endfor %}
			   {% endif %}
			{% endif %}
		     </tr>
		  {% endfor %}
	       {% endif %}
	    {% endfor %}
	 </tbody>
      </table>
      {% cycle pos %}
      {% endfor %}
   </div>
</div>
{% endblock %}
